version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "02:40"
      timezone: "Asia/Shanghai"
    open-pull-requests-limit: 2